:root{
    --cor-fundo: #000000;
    --cor-principal: #000000 ;
    --cor-secundaria: #2965ff;
    --cor-destaque: #32383f;
    --cor-secundaria: #7b94c7;
    --cor-destaque: #8be4f8;
    --cor-texto: #00125f;
}


body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}

.caixa-perguntas{
    padding-bottom: 10px;
}

button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 30px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
.caixa-alternativas{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 2em;
}